{% extends 'base.html' %}
{% load static %}

{% block title %}
	Records list
{% endblock %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock %}


{% block content %}
	<h1>Список записей</h1>
	<table>
		<thead>
			<tr>
				<th>Имя</th>
				<th>Дата записи</th>
				<th>Времени осталось</th>
			</tr>
		</thead>
		
		<tbody>
			{% for record in records %}
				<tr>
					<td>{{ record.user_name }}</td>
					<td>{{ record.date.isoformat }} {{ record.open_time.isoformat }}</td>
					<td id="{{ forloop.counter0 }}"></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<script>
		let timers = [
			{% for record in records %}
				{id: "{{ forloop.counter0 }}", date: new Date("{{ record.date.isoformat }} {{ record.open_time.isoformat }}")},
			{% endfor %}
		]
		for (var i = timers.length - 1; i >= 0; i--) {
			let timer = timers[i];
			setInterval(function() {

			    // Get todays date and time
			    var now = new Date();
			    
			    // Find the distance between now an the count down date
			    var distance = timer.date - now;
			    
			    // Time calculations for days, hours, minutes and seconds
			    var hours = Math.floor(distance / (1000 * 60 * 60));
			    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
			    
			    // Output the result in an element with id="demo"
			    document.getElementById(timer.id).innerHTML = hours + "h "
			    + minutes + "m " + seconds + "s ";
			    
			    // If the count down is over, write some text 
			    if (distance < 0) {
			        document.getElementById(timer.id).innerHTML = "EXPIRED";
			    }
			}, 1000);
		}
	</script>
{% endblock %}